@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/

   /**/
    /* Modificacion de los espacios en los que se situan mis elementos */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.6em + 1vh);
}
/* El estilo base para moviles */

/*Aplicando el estilo para nuestra pagina web*/
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

/* Colocando los datos correctos para que nuestro disenio se vea lo mejor posible */
.header {
    display: flex;
    justify-content: space-between
}
.src-only {
    display: none;
}
/* Hasta que no se le indique de que dimensiones se utilizara, se tomara como base el 
tamanio de una de escritorio */
.hide-mobile {
    display: none;
}

/*Aplicando los detalles de cada uno de los parrafos que nos brindan la informacion */
p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/*Es importante delimitar los pixeles de un logo debido a que este lleva un lugar en especifico en el disenio
*/
.logo {
    width: 90px;
    margin: 1em;
}

/*Declarando nuetro menu de opciones para que lleve todo lo justo y necesario */
.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.options i:last-child {
    font-size: 1.6rem;
}
/* Big area */
.big-hero img {
    width: 150px;
}
/*Titulo al que se le modifica y especifica */
.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}
.big-hero p {
    font-size: calc(0.5em + 1vh);
    color: #D7DEE6;
}
/* Social links*/
/*LOs que nos ayudan a refereciarnos a otras paginas*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: 3em;
   
    display: flex;
    
    justify-content: center;
}

/*LOs que nos ayudan a refereciarnos a otras paginas*/

.social-links {
    margin: 2.5em;
    margin-bottom: 1em;
   
    margin-top: 0.8em; 
    padding: 0%;
    
}
/*LOs que nos ayudan a refereciarnos a otras paginas*/

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 3em;
    margin-bottom: 0.6em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    
    
}

/*El area donde estaran contenidas nuestras publicaciones*/
.green-area {
    background-color: #0AC693; 
}

/*El que esta como ayuda para seguir bajando y revisar mas de la informacion que se nos brinda */
.post {
    padding: 1em;
    margin-bottom: -2px;
}

/*Disenio sobre el enunciado que lleva */
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}
.post ul {
    list-style: none;
}
.post ul li {
    min-height: 400px;
    margin: 2rem auto;
}

.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
    font-size: calc(0.9em + 1vh);
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}
/* About */
.about{
    margin-top: 2em;
}
.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}
.bio-info img{
   width: 200px;
}
.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}
.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1em 1em;
}
.contact * + * {
    margin-top: 1.5em;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}
/* Decorando placeholder */
::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }
.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}
.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}
footer{
    background-color: #0D5061;
    color:#D7DEE6;
}
footer .social-links {
    margin: 0;
}
.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}
.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}
.menu li a {
    color: white;
    text-decoration: none;
    
}
/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) { 

    /* Modificacion de los espacios en los que se situan mis elementos */
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

    }
    
    /*Modificacion y ajustes, de mi lista, de las cajas que contienen los articulos e imagenes */

    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
        width: 370px;
    }

    /* Modificacion de tamanio y espacio, del logo que se titula como " NALDANA" */
    .logo {
        width: 140px;
        margin: 1em;
        margin-left: 6em;
    }

    /* Se ha utilizado el block, para que conforme cambie su tamaño no se deforme */
    /* Utilizando margenes negativos para poder utilizar el espacio entre los elementos*/

    .show-desktop {
        display: block;
        margin-bottom: -1em; 
    }


    .hide-desktop {
        display: none;

    }

     /* Menu, donde se encuentra lo principal y sus propiedades adecuadas al tamaño de la pantalla correspondiente */

    .menu {
        font-size: calc(0.2em + 1vh);
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 60px;
    }

    /* La imagen que nos indica que podemos desplegarnos hacia abajo para mas informacion*/
    /* Se le define el color, su tamaño, y su margen */

   .fas.fa-arrow-circle-down{
        font-size: 2.3em;
        color: #0AC693;
        margin-bottom: 2.33em;
        
    }
    
    /* Se hereda de la lista un campo especifico a modificar por individual, en este calo es "Contacto" */
    /* Que lo que se ha hecho es definirle un color */

    #menu>li:last-child>a{
        color: tomato;
    }
   
    /* Es la parte definida para las dimensiones al tenerlo en un mobil */
    /* Es decir que sera responsive y todo se ajustara deacuerdo a la pantalla en la que se encuentre */

    .hide-mobile .show-desktop{
        display: flex;
        align-content: center;
        align-items: center;
        padding: 0em 4em;
    }
    
    /* Se le define el ancho en el area verde donde se encuentran los articulos para que tome el espacio compelto 
    de manera a que se adecue y todo quede centrado */

    .green-area>.container.post{
        width: 100%;
    }

    /* Se define el ancho en el cual se tendra el titulo "Publicaciones" para que quede justo en el centro 
    sin importar su dimension en la que se aplique */

    .green-area>.container.post>h2{
        width: 100%;
    }
   
    
} 
@media only screen and (min-width: 1024px) {
       /*TODO: FALTA CSS ipad pro */
       
       /* El area de contacto, ya que tiene cajas de texto, labels, se le define un tamaño 
        y que sera apto para cualquiera de las pantallas en que se presente */

       .contact{
           margin-bottom: 2.1em;
           width: 40%;
           display: flex;
           
       }

       /* Es la seccion que se encuentra al final de la pagina, y se le define la manera en que estaran colocados
       los elementos, definiendo que sera responsive en cualquiera de las pantallas, su margen y el centrado de los elementos*/

       .about{
        display: flex;
        margin-top: 1.8em;
        justify-content: center; 
       }

       /* En este de define que sera responsive el y todo lo que este contenido dentro de el,
       se le asigna el tamaño completo de la pantalla para dejarlo apto y se define que tamaño de pantalla sera,
       incluyendo sus margenes para tener todo en su lugar */

       .container{
           display: flex;
           flex-wrap: wrap;
           width: 100%;
           max-width: 1024;
           margin: 0em auto;
          
       }

       /* Nuestra parte secundaria, en la que se define que sera responsive y los elementos 
       seran colocados en columnas */

       .big-hero>.container{
           display: flex;
           flex-flow: column wrap;
       }

       /* Se define los detalles de la imagen para que no se nos vaya a desconfigurar al cambiar 
       de tamaño, se le define block debido a que no queremos que esta se mueva en cualquier movimiento */

       .big-hero>.container> img{
           display: block;
           margin: auto;
       }

       /* En este se encuentran nuestras opciones principales, y debido a que son mas de 1 el espacio tiene que ir bien 
       proporcionado para que no haya errores */

       .header{
           justify-content: space-between;
           width: 100%;
           margin: 0em;
           margin-top: -0.5em;
           margin-right: 0.5em;
       }

        /* Se hereda de la lista un campo especifico a modificar por individual, en este calo es "Contacto" */
       /* Que lo que se ha hecho es definirle un color */

       ul#menu li:last-child a{
           color: tomato;
       }
       /* Donde se utiliza para darle una dimension mas adecuada a su lugar y su significado */


       ul#menu li{
           font-size: 2em;

       }

       nav{
           margin-right: 3em;
       }

       /*Es el efecto sombra que se le pone de otro color al pasar el cursor sobre ello */

       ul#menu :hover{
           color: tomato;
       }

       /* Es el espacio de margenes que se le coloca para que quede bien posicionado */

       .container>.header> img{
        margin-top: 5em;
        margin-left: 3em;

       }

       /* Se le coloca a la lista para tenerla ordenada */
       nav ul{
           padding:10em; 
       }


       /* */

       .about div{
           flex: 100;
       }

       /* Se le especifica el epacio que tomara deacuerdo a la pantalla */

       .about h2{
        width: 100%;

       }

       /*El tamaño que se le especifica al boton para que pueda tener una dimension diferente */

       .contact-form input[type=submit]{
        width: 50%;

    }


    .post ul li {
        max-width: 350px;
    }

}
@media only screen and (min-width: 1440px) {

    /* En este de define que sera responsive el y todo lo que este contenido dentro de el,
    se le asigna el tamaño completo de la pantalla para dejarlo apto y se define que tamaño de pantalla sera,
    incluyendo sus margenes para tener todo en su lugar */
    
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }

    /* El area de contacto, ya que tiene cajas de texto, labels, se le define un tamaño 
     y que sera apto para cualquiera de las pantallas en que se presente */

    .contact{
        margin-bottom: 2.1em;
        width: 40%;
        display: flex;

    }

    /* Es la seccion que se encuentra al final de la pagina, y se le define la manera en que estaran colocados
    los elementos, definiendo que sera responsive en cualquiera de las pantallas, su margen y el centrado de los elementos*/

    .about{

     display: flex;
     margin-top: 1.8em;
     justify-content: center; 

    }

    /* En este de define que sera responsive el y todo lo que este contenido dentro de el,
    se le asigna el tamaño completo de la pantalla para dejarlo apto y se define que tamaño de pantalla sera,
    incluyendo sus margenes para tener todo en su lugar */

    .container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1024;
        margin: 0em auto;

    }

     /* Nuestra parte secundaria, en la que se define que sera responsive y los elementos 
    seran colocados en columnas */

    .big-hero>.container{
        display: flex;
        flex-flow: column wrap;

    }

   
    /* Se define los detalles de la imagen para que no se nos vaya a desconfigurar al cambiar 
    de tamaño, se le define block debido a que no queremos que esta se mueva en cualquier movimiento */

    .big-hero>.container> img{
        display: block;
        margin: auto;
    }


       /* En este se encuentran nuestras opciones principales, y debido a que son mas de 1 el espacio tiene que ir bien 
       proporcionado para que no haya errores */


    .header{
        justify-content: space-between;
        width: 100%;
        margin: 0em;
        margin-right: 1em;
    }


     /*Es el efecto sombra que se le pone de otro color al pasar el cursor sobre ello */

    ul#menu li:last-child a{
        color: tomato;

    }

    

    ul#menu li{
        font-size: 2em;

    }


    /* Se le coloca a la lista para tenerla ordenada */

    nav{
        margin-right: 3em;
    }

    /* Es el efecto sombreado y que hace que a lo que se le ha aplicado cambie de color */
    ul#menu :hover{
        color: tomato;

    }

    /* Es el espacio de margenes que se le coloca para que quede bien posicionado */

    .container>.header> img{

     margin-top: 5em;
     margin-left: 3em;

    }

    /* Se le especifica el epacio que tomara deacuerdo a la pantalla */

    .about div{
        flex: 1;
    }

    /* Se le especifica el epacio que tomara deacuerdo a la pantalla */

    .about h2{
     width: 100%;

    }

    .post ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }




}


@media only screen and (min-width: 414px) {

    /*Terminado*/
    
    /* Se le determina el margen debido a que este sera para un mobil, por eso sus dimensiones son muy diferentes a la 
    de las demas */

    .container.post  {
     padding: 1em 4em;
    }

    /* Se le coloca el margen en la parte donde esta las publicaciones */
    .container p{
       padding: 0.3em;
       
       font-size: calc(0.4em + 1vh);
    }

    /* El tamaño  que se le asigna a la letra*/
    i{
        font-size: 1.7em;
    }

    /* El area de contacto, ya que tiene cajas de texto, labels, se le define un tamaño 
     y que sera apto para cualquiera de las pantallas en que se presente */

    .contact{
       padding: 3em 3em;
    }

    /* El cambio de dimensiones en este caso para que pueda ser responisve sera mas notorio 
     por eso es que se aplica cantiades pequeñas */ 
    .bio-info{
        padding: 0em 3.9em;
        font-size: 1em;
    
    }

    /* Se modifica el tamaño para la imagen y que no pueda haber ningun problema*/
    .bio-info img {
        width: 150px;
        margin: 2em;
    }

    /* Se le asigna un margen diferente a esta parte, debido a que cambiara totalmente*/
    footer .social-links li a {
        margin-top: 0.8em;
    }
    
    /* Tenemos el formulario pero en este caso solo le modificamos el tipo de letra de normal a negrita*/
    .contact-form{
        font-weight: bold;
    }

    /* COlocando los margenes adecuados para que no vaya haber problemas a la hora de comprobar nuetra pagina 
    responsive */
    footer p {
        font-size: 0.8em;
        margin: 0em  0em -2em;
    
    }

    .fa-github, .fa-twitter{
        font-size: calc(1em + 1vh);
    }

    .social-links{
        margin-bottom: 2em;
    }
}